<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audioplaybackcompose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioPlaybackCompose">
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/activity_main_title"
            android:theme="@style/Theme.AudioPlaybackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.audioplaybackcompose.presentation.media.MediaActivity"
            android:label="@string/activity_media_title"
            android:parentActivityName=".presentation.MainActivity" />

        <activity
            android:name="com.example.audioplaybackcompose.presentation.profile.ProfileActivity"
            android:label="@string/activity_profile_title"
            android:parentActivityName=".presentation.MainActivity" />

        <service
            android:name="com.example.audioplaybackcompose.presentation.media.MediaPlaybackService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>